.tred{
    color:red;
}
.tblue{
    color:blue;
}
.tgreen{
    color:green;
}
.torange{
    color:orange;
}
.tbrown{
    color:brown;
}
.tblack{
    color:black;
}
.tpink{
    color:pink;
}
.tyellow{
    color:yellow;
}
.bred{
    background-color:red;
}
.bblue{
    background-color:blue;
}
.bgreen{
    background-color:green;
}
.borange{
    background-color: orange;
}
.bbrown{
    background-color:brown;
}
.bblack{
    background-color:black;
}
.bpink{
    background-color:pink;
}
.url{
    color:blue;
    text-decoration: underline;
}
.url:hover{
    color:darkblue;
}
.circle{
    border-radius:50px;
}
.twhite{
    color:white;
}
.bwhite{
    background-color: white;
}
.emoji{
    background-color:red;
}
.mic{
    background-image:url(https://cdn1.iconfinder.com/data/icons/phone-33/65/31-512.png);
    height:30;
    width:30;
    background-size: cover;
}
.footer{
    position:fixed;
    width:100%;
    z-index:99999;
    background-image: linear-gradient(to right, white, whitesmoke);
    background-repeat:3;
    bottom:0;
}
footer{
    position:fixed;
    width:100%;
    z-index:99999;
    background-image: linear-gradient(to right, white, whitesmoke);
    background-repeat:3;
    bottom:0;
}
canvas{
    border-color:10px;
}